.about {
  position: relative;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: grid;
  grid-template-areas:
    "image"
    "text";
  justify-items: center;

  img {
    max-width: 768px;
    width: 100%;
    grid-area: image;
  }

  .titles {
    color: $color-primary;
    position: absolute;
    text-align: right;
    right: 50%;
    transform: translateX(70%);
    top: 1rem;
    grid-area: image;
  }

  .title1 {
    font-size: 2.5rem;
  }
  .title2 {
    font-size: 3.5rem;
  }

  .content {
    background-color: $color-primary;
    color: white;
    padding: 0.01rem 0;
    text-align: justify;
    margin: 0;
    position: relative;
    grid-area: text;

    h2,
    p {
      margin: 1rem;
    }
  }

  .content::before {
    content: "";
    background: -webkit-linear-gradient(left, #8f6b29, #fde08d, #df9f28);
    height: 10px;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
  }
}
//- - - - - - - - - - - - - - - - tablet 768px - - - - - - - - - - - - - - - - - -
//- - - - - - - - - - - - - - - - laptop 1024 px - - - - - - - - - - - - - - - - -
@media screen and (min-width: 1024px) {
  .about {
    grid-template-areas: "image text";
    grid-template-columns: 40% 60%;

    .titles {
      grid-area: text;
      display: flex;
      transform: translateX(30%) scale(1.2);
    }

    .content {
      position: absolute;
      bottom: 0;
    }
  }
}
@media screen and (min-width: 1300px) {
  .about {
    .titles {
      margin-top: 70px;
      transform: translateX(30%) scale(2);
    }
  }
}

@media screen and (min-width: 1700px) {
  .about {
    .titles {
      margin-top: 120px;
      transform: translateX(30%) scale(2.2);
    }
  }
}
//- - - - - - - - - - - - - - - - widescreen 1440px  - - - - - - - - - - - - - - -
