.contactus {
  align-items: center;
  background-color: tint(gray, 95%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  scroll-behavior: smooth;

  h1 {
    color: $color-primary;
    width: 100%;
    text-align: center;
  }
}
