.login,
.signup {
  text-align: center;
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  h1 {
    margin: 3rem 0;
  }

  input {
    text-align: center;
  }

  input[type="password"] {
    letter-spacing: 2px;
  }

  input::placeholder {
    text-align: center;
  }

  .errorMessage {
    color: red;
    font-style: italic;
    margin: 3rem 0 0;
    width: 300px;
  }

  .animateError {
    animation: animateError 600ms ease-in-out;
  }

  .divider {
    border-bottom: solid 1px #e3e3e3;
    width: 300px;
  }

  @keyframes animateError {
    0% {
      transform: scale(1);
    }
    40% {
      transform: scale(1.1);
    }
    80% {
      transform: scale(1);
    }
    90% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}
