.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;

  // title
  > .title {
    color: $color-primary;

    font-size: 1.7rem;
    margin: 1rem 0;
    text-align: center;
  }

  // search
  .search {
    display: flex;
    justify-content: stretch;
    margin: 1rem 0;
    width: calc(100% - 4rem);

    input {
      border: 1px solid $color-primary;
      display: flex;
      flex: 1;
    }
  }

  //   catalog
  .catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  //- - - - - - - - - - - - - - - - tablet 768px - - - - - - - - - - - - - - - - - -
  @media screen and (min-width: 768px) {
    .search {
      width: 400px;
    }
  }

  .catalog {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  //- - - - - - - - - - - - - - - - laptop 1024 px - - - - - - - - - - - - - - - - -
  //- - - - - - - - - - - - - - - - widescreen 1440px  - - - - - - - - - - - - - - -
}
