.ouragents {
  background-color: white;
  border: 2px solid tint($color-primary, 60%);
  height: 515px;
  margin: 1rem 0;
  width: 320px;

  .titles {
    font-size: 2rem;
    line-height: 1.9rem;
    margin: 1rem 0;
    text-align: center;
  }

  .title1 {
    color: tint($color-primary, 60%);
    transform: translateX(-2rem);
  }
  .title2 {
    color: $color-primary;
    font-size: 2.3rem;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.agent {
  $general-color: $color-primary;
  background: $general-color;
  border-radius: 0.4rem;
  border: 1px solid $general-color;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: space-between;
  margin: 1rem;
  overflow: hidden;
  text-align: center;
  width: 120px;

  .location {
    color: white;
    font-weight: bold;
    margin: 1rem;
    text-transform: uppercase;
  }

  .phone {
    background: white;
    color: $general-color;
    padding: 1rem;
    font-weight: bold;
  }
}
