.product {
  align-items: stretch;
  align-self: center;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 7px #a2a2a2;
  display: flex;
  height: 200px;
  margin: 2rem 2rem;
  width: 350px;
  overflow: hidden;

  .product-image {
    object-fit: cover;
    width: 10rem;
  }
  .product-details {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .product-title {
    @include lhCrop(1.6);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  .product-price {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .btn-primary {
    margin-top: 1rem;
  }
}
